<%
# Keep in sync with blog & _posts_page
%>

<article class="post <%= Post::post_class_for(@post)%>">
    <header>
        <h1 class="title post__title"><%= Post::post_title_link_for(@post) %></h1>
        <ul class="post__meta">
            <li class="time"><%= Post::time_tag_for(@post) %></li>
            <li class="author"><%= Post::author_tag_for(@post) %></li>
        </ul>
    </header>

    <%= Post::teaser_for(@post) %>
    <%= Post::excerpt_for(@post) %>
        
    <footer>
        <ul class="post__meta">
            <li><%= link_to("&infin; Permalink", @post.path) %></li>
            <li>&bull; <%= Post::comment_link_for(@post) %> </li>
            <li>&bull; Tags: <%= Post::tags_for(@post) %></li>
            <%= %Q{<li>&bull; via <a href="#{@post[:via][:url]}">#{@post[:via][:name]}</a></li>} if @post[:via]%>
            <%= %Q{<li>&bull; #{Post::origin_of(@post)}</li>} if @post[:import]%>
        </ul>
    </footer>
</article>
