<%
# /!\ Keep in sync with blog & _posts_page
# Used for all listings of posts, full text or as excerpts.
%>

<article class="post <%= Post::post_class_for(@post)%> post--in-list">
    <header>
        <h2 class="title post__title"><%= Post::post_title_link_for(@post) %></h2>
        <ul class="post__meta">
            <li class="time"><%= Post::time_tag_for(@post) %></li>
            <li class="author"><%= Post::author_tag_for(@post) %></li>
        </ul>
    </header>

    <% if @fulltext.nil? || @fulltext == false %>
        <%= Post::teaser_for(@post) %>
        <%= Post::excerpt_for(@post) %>
    <% else %>
        <%= Post::fulltext_for(@post) %>
    <% end %>

    <footer>
        <ul class="post__meta">
            <li><%= link_to("&infin; Permalink", @post.path) %></li>
            <li>&bull; <%= Post::comment_link_for(@post) %> </li>
            <li>&bull; Tags: <%= Post::tags_for(@post) %></li>
            <%= %Q{<li>&bull; via <a href="#{@post[:via][:url]}">#{@post[:via][:name]}</a></li>} if @post[:via] %>
            <%= %Q{<li>&bull; #{Post::origin_of(@post)}</li>} if @post[:import]%>
        </ul>
        <% if @post[:canonical]&.empty? == false %>
            <nav class="post__languages languages">
                <small>
                    <%= language_announcement(@post) %>: <%= language_links(@post) %>
                </small>
            </nav>
        <% end %>
    </footer>
</article>
