<%
# Keep in sync with _post & _posts_page
%>

<% render '/default.*' do %>
<section id="posts" class="grid-whole">
    <article class="post post--single">
        <header>
            <h1 class="post__title title"><%= @item[:title] %></h1>

            <ul class="post__meta">
                <li class="time"><time datetime="<%= @item[:created_at] %>"><%= Post::time_tag_for(@item) %></time></li>
                <li class="author"><%= Post::author_tag_for(@item) %></li>
                <li class="contact"><%= Post::contact_tag_for(@item) %></li>
                <li class="translation"><%= Post::translator_tag_for(@item) %>
            </ul>

            <%= Post::tom_pixel_for(@item) %>
        </header>

        <% if item[:toc] && item[:toc] != 'manual' %>
        {{TOC}}
        <% end %>

        <%= yield %>

        <footer>
            <ul class="post__meta">
                <li>Tags: <%= Post::tags_for(@item) %></li>
                <%= %Q{<li>&bull; via <a href="#{@item[:via][:url]}">#{@item[:via][:name]}</a></li>} if @item[:via]%>
                <%= %Q{<li>&bull; #{Post::origin_of(@item)}</li>} if @item[:import]%>
            </ul>
        </footer>
    </article>

    <% if Post::comments_allowed_for(@item) %>
    <aside id="comments">
        <%= render '/_comments.*' %>
        <%= render '/_comments-disqus.*' %>
    </aside>
    <% end %>
</section>
<% end %>
