<%
# Keep in sync with _post & _posts_page
%>

<% render 'default' do %>
<section id="posts">
    <article class="post">
        <header>
            <h1 class="post__title title"><%= @item[:title] %></h1>
            
            <ul class="post__meta">
                <li class="time"><time datetime="<%= @item[:created_at] %>"><%= Post::time_tag_for(@item) %></time></li>
                <li class="author"><%= Post::author_tag_for(@item) %></li>
                <li class="contact"><%= Post::contact_tag_for(@item) %></li>
            </ul>

            <%= Post::tom_pixel_for(@item) %>
        </header>
        
        <% if item[:toc] %>
        {{TOC}}
        <% end %>
        
        <%= yield %>
        
        <footer>
            <ul class="post__meta">
                <li>Tags: <%= Post::tags_for(@item) %></li>
                <%= %Q{<li>&rarr; via: <a href="#{@item[:via]}">@item[:via]</a></li>} if @item[:via]%>
            </ul>
        </footer>
    </article>

    <% if Post::comments_allowed_for(@item) && (ENV['NANOC_ENV'] && ENV['NANOC_ENV'] != 'development') %>
    <aside id="comments">
        <%= render('_comments') %>
    </aside>
    <% end %>
</section>
<% end %>
